html {
  color: #212529;
  font-size: 16px;
  line-height: 1.35;

  @media (min-width: 576px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

body {
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  grid-template-columns: 1fr minmax(0, 660px) 1fr;

  &::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    grid-column: 1 / -1;
    grid-row: 1;
    height: 50px;
  }
}

a {
  color: #0062cc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  align-items: center;
  display: grid;
  grid-area: header;
}

.site-title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }
}

.home, .page, .post {
  grid-area: main;
}

.home {
  > .post {
    + .post {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.post-link {
  color: inherit;
}

.page-title, .post-title {
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  font-size: 0.8rem;
  grid-area: footer;
  margin-bottom: 1em;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;

      + li:before {
        content: " · ";
      }
    }
  }
}
